extends ../../layouts/default.pug 

block main
    if(role.permissions.includes('users_view'))
        h1(class="mb-4")=pageTitle

        hr 

        if(user.avatar)
            div(class="mb-4")
                img(
                    src=user.avatar 
                    alt=user.fullName 
                    width=300
                    height=auto
                )

        div(class="mb-4")
            strong Full Name: 
            span #{user.fullName} 

        div(class="mb-4") 
            strong Status: 
            span #{user.status} 

        div(class="mb-4")
            strong Email: 
            span #{user.email}

        div(class="mb-4")
            strong Phone Number: 
            span #{user.phone} 


