header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg" alt="Logo")

            .col-5
                .box-search
                form(
                    action="/search/result"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Search..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-secondary"
                        ) Search

            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/genres") Genre
                        li 
                            a(href="/favorite-songs")
                                <i class="fa-solid fa-heart"></i> Favorite