include ../mixins/dropdown-profile-item.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src=settingGeneral.logo alt="Logo")

            .col-5
                .box-search
                    form(
                        action="/search/result"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Search..."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-dark"
                            ) <i class="fa-solid fa-magnifying-glass"></i>
                    .inner-suggest
                        .inner-list
                        //- a(href=`/songs/detail/:slugSong` class="inner-item")
                        //-   .inner-image
                        //-     img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
                        //-   .inner-info
                        //-     .inner-title Cắt đôi nỗi sầu
                        //-     .inner-singer
                        //-       <i class="fa-solid fa-microphone-lines"></i> Tăng Duy Tân
                        //- a(href=`/songs/detail/:slugSong` class="inner-item")
                        //-   .inner-image
                        //-     img(src="https://backend.daca.vn/assets/images/ngay-mai-nguoi-ta-lay-chong.jpg")
                        //-   .inner-info
                        //-     .inner-title Ngày Mai Người Ta Lấy Chồng
                        //-     .inner-singer
                        //-       <i class="fa-solid fa-microphone-lines"></i> Thành Đạt

            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/genres") Genre
                        li 
                            a(href="/favorite-songs") Favorite

                        //- dropdown profile
                        img(
                            class="user-pic" 
                            src=(user && user.avatar? user.avatar: "/images/default-user.png") 
                            alt=(user && user.avatar? user.fullName: "default user image")
                        )

                        .sub-menu-wrap
                            .sub-menu
                                if(user)
                                    .user-info
                                        img(src=(user && user.avatar? user.avatar: "/images/default-user.png"))
                                        h6 #{user && user.fullName ? user.fullName : "Unloggedin User"}
                                    hr 

                                    +link-item("/user/profile", "Profile Settings")
                                    +link-item("/user/logout", "Logout")
                                else 
                                    +link-item("/user/register", "Register/Login")

