extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)

        .row.genre-list
            each genre in genres
                .col-3.mb-3
                    div(class="card")
                        a(href=`/songs/${genre.slug}`) 
                            img(
                                src=genre.avatar
                                width=auto
                                height=200
                            )
                        div(class="card-body")
                            h5(class="card-title") #{genre.title}
                            span(class="card-text") !{genre.description}