extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    .container.my-3
        //- .row
        //-     .col-12
        //-         +box-head(pageTitle)

        div(class="mb-3")
            h2 Recent 
        .row
            each song in songs
                .col-6.mb-3
                    div(class="song-item")
                        div(class="inner-image")
                            a(href=`/songs/detail/${song.slug}`)
                                img(src=song.avatar)
                        div(class="inner-content")
                            div(class="inner-title")
                                a(href=`/songs/detail/${song.slug}`) #{song.title}
                            div(class="inner-singer") <i class="fa-solid fa-microphone-lines"></i> #{song.singerInfo.fullName}
                            div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> #{song.like.length}
                            div(class="inner-time") 
                                i(class="fa-regular fa-clock")
                                    +formatDate(song.createdAt)