extends ../../layouts/default.pug

block main
    h1(class="mb-4") #{pageTitle}

    form(
        action=`/${prefixAdmin}/songs/create`
        method="POST"
        enctype="multipart/form-data"
)
    div(class="form-group")
        label(for="title") Title
        input(
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
        )

    div(class="form-group")
        label(for="topic") Genre
        select(
            name="topicId"
            id="topic"
            class="form-control"
            required
        )
            option(value="" disabled selected) -- Choose genre --
            each item in genres
                option(value=item.id) #{item.title}

    div(class="form-group")
        label(for="singer") Singer
        select(
            name="singerId"
            id="singer"
            class="form-control"
            required
        )
            option(value="" disabled selected) -- Chooose singer --
            each item in singers
                option(value=item.id) #{item.fullName}
    div(
        class="form-group"
        upload-image
    )
        label(for="avatar") Image
        input(
            type="file"
            class="form-control-file"
            id="avatar"
            name="avatar"
            accept="image/*"
            upload-image-input
        )
        img(
            src=""
            class="image-preview"
            upload-image-preview
        )
    div(class="form-group")
        label(for="desc") Description
        textarea(
            type="text"
            class="form-control"
            id="desc"
            name="description"
            rows="5"
            textarea-mce
        )
    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked
        )
        label(for="statusActive" class="form-check-label") Active
    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Inactive
    div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Add