extends ../../layouts/default.pug

block main
    h1(class="mb-4") #{pageTitle}


    .card.mb-3
        .card-header Song List
        .card-body
            .row
                .col-8

                .col-4.text-right
                    a(
                        href=`/${prefixAdmin}/songs/create`
                        class="btn btn-outline-success"
                    ) + New


            table(
                class="table table-hover table-sm"
            )
                thead
                    tr
                        th No.
                        th Image
                        th Title
                        //- th Ca sĩ
                        //- th Chủ đề
                        //- th Vị trí
                        th Status
                        th Action

                tbody
                    each item, index in songs
                        tr 
                            td #{index+1}
                            td
                                img(
                                    src=item.avatar
                                    alt=item.title
                                    width="80px"
                                    height="auto"
                                )
                            td #{item.title}
                            //- td Dữ liệu ca sĩ
                            //- td Dữ liệu chủ đề
                            //- td Dữ liệu vị trí
                            td
                                if (item.status === "active")
                                    a(
                                        href="javascript:;"
                                        class="badge badge-success"
                                    ) Active
                                else
                                    a(
                                        href="javascript:;"
                                        class="badge badge-danger"
                                    ) Inactive
                            td
                                a(
                                    class="btn btn-secondary btn-sm"
                                    href=`/${prefixAdmin}/songs/detail/${item.id}`
                                ) Detail
                                a(
                                    class="btn btn-warning btn-sm ml-1"
                                    href=`/${prefixAdmin}/songs/edit/${item.id}`
                                ) Edit
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete
                                    data-id=item.id
                                ) Delete