.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) Dashboard
            if(role.permissions.includes('genres_view'))
                li
                    a(href=`/${prefixAdmin}/genres`) Genre
            if(role.permissions.includes('songs_view'))
                li
                    a(href=`/${prefixAdmin}/songs`) Song
            if(role.permissions.includes('singers_view'))
                li
                    a(href=`/${prefixAdmin}/singers`) Singer
            if(role.permissions.includes('roleGroups_view'))          
                li
                    a(href=`/${prefixAdmin}/roles`) Role Group
            if(role.permissions.includes('roles_permissions'))
                li
                    a(href=`/${prefixAdmin}/roles/permissions`) Access Controls
            if(role.permissions.includes('accounts_view'))
                li
                    a(href=`/${prefixAdmin}/accounts`) Admin Account
            if(role.permissions.includes('users_view'))
                li
                    a(href=`/${prefixAdmin}/users`) User Account
            if(role.permissions.includes('generalSettings'))
                li
                    a(href=`/${prefixAdmin}/settings/general`) General Settings